body {
    text-align: center;
    background-color: #06174c;
    color: white;
    font-family: "Sans Serif Collection", serif;
}

button {
    cursor: pointer;
}

.bodyPart {
    width: fit-content;
    height: fit-content;
    padding: 5px;
    text-align: center;
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: white;
    transition-duration: 0.4s;
}

.bodyPart:hover {
    background-color: yellow;
}

.bodyPartImage {
    width: 190px;
    height: 190px;
}

a {transition-duration: 0.4s;}

a:link {
    color: yellow;
    text-decoration: none;
}

a:visited {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: greenyellow;
    text-decoration: underline;
}

a:active {
    color: greenyellow;
    text-decoration: underline;
}